{% assign easylockdownON = false %} {% assign easylockdownHiddenPurchase = false %} {% assign easylockdownRedirectURL = '' %} {% assign easylockdownPage404Title = '' %} {% assign easylockdownPage404Message = '' %} {% assign easylockdownActiveID = 0 %} {% assign easylockdownActiveHash = '' %} {% assign easylockdownPasswordForm = false %} {% assign easylockdownPasswordNote = '' %} {% assign easylockdownPasswordPlaceholder = '' %} {% assign easylockdownHidePrice = false %} {% assign easylockdownLocaleRootUrl = '' %} {% for locale in shop.published_locales %} {% if shop.locale == locale.iso_code %} {% unless locale.primary %}{% assign easylockdownLocaleRootUrl = locale.root_url %}{% endunless %}{% break %} {% endif %} {% endfor %} <script type='text/javascript'>var easylockdownLocationDisabled = true;</script> <script type='text/javascript' src='{% unless request.design_mode or canonical_url contains 'shopifypreview.com' %}//{{ shop.domain }}{% endunless %}/apps/easylockdown/easylockdown-1.0.7.min.js' data-no-instant></script> <script type='text/javascript'>if( typeof InstantClick == 'object' ) easylockdown.clearData();</script> <style type="text/css">#easylockdown-password-form{padding:30px 0;text-align:center}#easylockdown-wrapper,.easylockdown-form-holder{display:inline-block}#easylockdown-password{vertical-align:top;margin-bottom:16px;padding:8px 15px;line-height:1.2em;outline:0;box-shadow:none}#easylockdown-password-error{display:none;color:#fb8077;text-align:left}#easylockdown-password-error.easylockdown-error{border:1px solid #fb8077}#easylockdown-password-form-button:not(.easylockdown-native-styles){vertical-align:top;display:inline-block!important;height:auto!important;padding:8px 15px;background:#777;border-radius:3px;color:#fff!important;line-height:1.2em;text-decoration:none!important}.easylockdown-instantclick-fix,.easylockdown-item-selector{position:absolute;z-index:-999;display:none;height:0;width:0;font-size:0;line-height:0}.easylockdown-collection-item[data-eld-loc-can],.easylockdown-item-selector+*,.easylockdown-item[data-eld-loc-can]{display:none}.easylockdown404-content-container{padding:50px;text-align:center}.easylockdown404-title-holder .easylockdown-title-404{display:block;margin:0 0 1rem;font-size:2rem;line-height:2.5rem}</style> {% if easylockdownInstantClick %}<div class='easylockdown-instantclick-fix' style='display:none;'></div>{% endif %}
{% assign easylockdownSuperPage = false %}{% assign proxyPageA = shop.url | append: '/a/' %}{% assign proxyPageApps = shop.url | append: '/apps/' %}{% assign proxyPageCommunity = shop.url | append: '/community/' %}{% assign proxyPageTools = shop.url | append: '/tools/' %}
{% if template == blank or template == 'customers/login' or template == 'customers/activate_account' or template == 'customers/reset_password' %}{% assign easylockdownSuperPage = true %}{% endif %}
{% if canonical_url contains proxyPageA or canonical_url contains proxyPageApps or canonical_url contains proxyPageCommunity or canonical_url contains proxyPageTools %}{% assign easylockdownSuperPage = false %}{% endif %}
{% assign easylockdownNow = 'now' | date:'%s' | times: 1 %}{% assign easylockdownNowWeekDay = easylockdownNow | date:'%u' %}{% assign easylockdownNowMonthDay = easylockdownNow | date:'%d' %}{% assign easylockdownNowHM = easylockdownNow | date:'%H%M' | times: 1 %}{% if customer %}{% assign easylockdownPlacedOrder = customer.orders.first.created_at | date:'%s' %}{% assign easylockdownOldestPlacedOrder = customer.orders.last.created_at | date:'%s' %}{% assign easylockdownDateDifference = easylockdownNow | minus: easylockdownPlacedOrder %}{% endif %}
{% for t in customer.tags %}
{% assign tag = t | downcase %}
{% if tag == 'wholesale-only' %}{% assign elcTag1 = true %}{% endif %}
{% endfor %}
{% unless easylockdownON or easylockdownSuperPage or template == 'customers/register' %}
{% assign easylockdownLockedContent = false %}
{% assign easylockdownHiddenContent = false %}
{% if template contains "collection" or template contains "product" %}
{% if product.collections %}{% for c in product.collections %}{% if c.id == 464601579797 %}{% assign easylockdownLockedContent = true %}{% break %}{% endif %}{% endfor %}{% endif %}
{% if collection %}{% if collection.id == 464601579797 %}{% assign easylockdownLockedContent = true %}{% endif %}{% endif %}
{% endif %}
{% if template == "cart" %}{% assign easylockdownLockedContent = true %}{% endif %}
{% if template == "search" %}{% assign easylockdownLockedContent = true %}{% endif %}
{% if collection.handle == "all" and template == "collection" %}{% assign easylockdownLockedContent = true %}{% endif %}
{% if template == "list-collections" %}{% assign easylockdownLockedContent = true %}{% endif %}
{% if template contains "page" and page %}{% if page.id == 130354872597 or page.id == 125931061525 or page.id == 125930995989 %}{% assign easylockdownLockedContent = true %}{% endif %}{% endif %}
{% if canonical_url contains 'https://cdn.shopify.com/s/files/1/0576/9756/6896/files/esk_single_page_booklet_jan.pdf?v=1704928167' or canonical_url contains 'https://evidenceskincare-esk.com.au/pages/price-list' or canonical_url contains 'https://evidenceskincare-esk.com.au/apps/shop/' or canonical_url contains 'https://evidenceskincare-esk.com.au/apps/shop/reorder' or canonical_url contains 'https://evidenceskincare-esk.com.au/pages/training' %}{% assign easylockdownLockedContent = true %}{% endif %}
{% if easylockdownLockedContent %}
{% unless customer %}
{% assign easylockdownON = true %}
{% capture easylockdownPage404Title %}Page not found{% endcapture %}
{% capture easylockdownPage404Message %}<p>Sorry, we couldn't find this page.</p>{% endcapture %}
{% capture easylockdownRedirectURL %}login{% endcapture %}
{% else %}
{% unless elcTag1 %}{% assign easylockdownON = true %}{% endunless %}
{% if easylockdownON %}
{% assign easylockdownON = true %}
{% capture easylockdownPage404Title %}Page not found{% endcapture %}
{% capture easylockdownPage404Message %}<p>Sorry, we couldn't find this page.</p>{% endcapture %}
{% endif %}
{% endunless %}
{% endif %}
{% endunless %}
{% unless customer %}
<script type='text/javascript'>easylockdown.hideLinks.push('*[href$="/collections/full-size"],*[data-eld-collection-handle="full-size"],*[href$="/cart"],*[href$="/search"],*[href*="/search?"],*[href$="/collections/all"],*[href$="/collections"],*[href$="/products"],*[href$="/pages/price-list"],*[href$="/pages/ws-quick-order-form"],*[href$="/pages/ws-cart"],*[href*="https://cdn.shopify.com/s/files/1/0576/9756/6896/files/ESK_Single_Page_Booklet_JAN.pdf?v=1704928167"],*[href*="https://cdn.shopify.com/s/files/1/0576/9756/6896/files/esk_single_page_booklet_jan.pdf?v=1704928167"],*[href*="https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0576%2F9756%2F6896%2Ffiles%2FESK_Single_Page_Booklet_JAN.pdf%3Fv%3D1704928167"],*[href*="https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0576%2F9756%2F6896%2Ffiles%2Fesk_single_page_booklet_jan.pdf%3Fv%3D1704928167"],*[href*="https://evidenceskincare-esk.com.au/pages/price-list"],*[href*="https%3A%2F%2Fevidenceskincare-esk.com.au%2Fpages%2Fprice-list"],*[href*="https://evidenceskincare-esk.com.au/apps/shop/"],*[href*="https%3A%2F%2Fevidenceskincare-esk.com.au%2Fapps%2Fshop%2F"],*[href*="https://evidenceskincare-esk.com.au/apps/shop/reorder"],*[href*="https%3A%2F%2Fevidenceskincare-esk.com.au%2Fapps%2Fshop%2Freorder"],*[href*="https://evidenceskincare-esk.com.au/pages/training"],*[href*="https%3A%2F%2Fevidenceskincare-esk.com.au%2Fpages%2Ftraining"]');</script>
{% else %}
{% assign easylockdownHideLinks = false %}{% unless elcTag1 %}{% assign easylockdownHideLinks = true %}{% endunless %}
{% if easylockdownHideLinks %}
<script type='text/javascript'>easylockdown.hideLinks.push('*[href$="/collections/full-size"],*[data-eld-collection-handle="full-size"],*[href$="/cart"],*[href$="/search"],*[href*="/search?"],*[href$="/collections/all"],*[href$="/collections"],*[href$="/products"],*[href$="/pages/price-list"],*[href$="/pages/ws-quick-order-form"],*[href$="/pages/ws-cart"],*[href*="https://cdn.shopify.com/s/files/1/0576/9756/6896/files/ESK_Single_Page_Booklet_JAN.pdf?v=1704928167"],*[href*="https://cdn.shopify.com/s/files/1/0576/9756/6896/files/esk_single_page_booklet_jan.pdf?v=1704928167"],*[href*="https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0576%2F9756%2F6896%2Ffiles%2FESK_Single_Page_Booklet_JAN.pdf%3Fv%3D1704928167"],*[href*="https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0576%2F9756%2F6896%2Ffiles%2Fesk_single_page_booklet_jan.pdf%3Fv%3D1704928167"],*[href*="https://evidenceskincare-esk.com.au/pages/price-list"],*[href*="https%3A%2F%2Fevidenceskincare-esk.com.au%2Fpages%2Fprice-list"],*[href*="https://evidenceskincare-esk.com.au/apps/shop/"],*[href*="https%3A%2F%2Fevidenceskincare-esk.com.au%2Fapps%2Fshop%2F"],*[href*="https://evidenceskincare-esk.com.au/apps/shop/reorder"],*[href*="https%3A%2F%2Fevidenceskincare-esk.com.au%2Fapps%2Fshop%2Freorder"],*[href*="https://evidenceskincare-esk.com.au/pages/training"],*[href*="https%3A%2F%2Fevidenceskincare-esk.com.au%2Fpages%2Ftraining"]');</script>
{% endif %}
{% endunless %}


{% if easylockdownON or easylockdownPasswordProtectedContent %}<meta name="robots" content="noindex,nofollow">{% endif %}

<script type='text/javascript'>
  if( typeof easylockdown == 'object' ) {
    easylockdown.localeRootUrl = '{{ easylockdownLocaleRootUrl }}';
    {% if easylockdownON %}easylockdown.router('{{ easylockdownRedirectURL }}'); {% else %}easylockdown.routerByLocation(); {% endif %}

    easylockdown.onReady(function(e){
      easylockdown.hideAllLinks();
    });
  }
</script>{% if easylockdownRender %}--elhResults--{% if easylockdownON %}1{% endif %}--elhResultItem--{% if easylockdownHiddenPurchase %}1{% endif %}--elhResultItem--{{ easylockdownRedirectURL }}--elhResultItem--{{ easylockdownPage404Title }}--elhResultItem--{{ easylockdownPage404Message }}--elhResultItem--{{ easylockdownPasswordNote }}--elhResultItem--{{ easylockdownPasswordPlaceholder }}--elhResultItem--{{ easylockdownPriceSelectors }}--elhResultItem--{% if easylockdownHidePrice %}1{% endif %}--elhResultItem--{{ easylockdownHidePriceLinkText }}--elhResultItem--{{ easylockdownHidePriceLinkUrl }}{% endif %}